[Desktop Entry]
Type=Application
Exec=/home/john/.local/bin/onlogin.sh
Icon=terminal
Terminal=false
Categories=System

Name=onlogin
Comment=Start some stuff on login
Hidden=false
NoDisplay=false
